.more {
  color: #f5f5f5;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  background-color: #355efc;
  padding: 10px 25px;
  border: none;
  outline: none;
  transition: 1s;
}
.white-btn {
  padding: 10px 15px;
  margin: auto;
  color: #355efc;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  border-radius: 11px;
  border: 1px solid #cad2fc;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.36);
}
 button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 750px) {
  .more {
    width: 200px;
    margin: auto;
    display: block;
    margin-top: 208px;
  }

  .why-us .more {
    margin-top: 10px !important;
  }
}
