.contact-form {
  width: 100% !important;
  background-size: 50%;
  margin-top: 70px;
}
.background {
  background-color: #355efc;
  width: 100%;
  height: 385px;
}
.red {
  border: 1px solid red !important;
}
.form-container {
  max-width: 700px;
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  border: 1px solid #909de2;
  background-color: #fff;
  border-radius: 10px;
  margin-top: -230px;
}
.form-container h2 {
  text-align: center;
}
.form-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.form-container fieldset {
  display: flex;
  justify-content: space-between;
  border: none;
}
.form-container input {
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid #909de2;
  width: 285px;
}
textarea {
  height: 133px;
  border: 1px solid #909de2;
  border-radius: 5px;
  padding: 15px 1px 15px 10px !important;
}
.submit-btn {
  width: 100% !important;
  border: none;
  outline: none;
  background-color: #355efc;
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 750px) {
  fieldset {
    flex-direction: column;
    gap: 6px;
  }
  .form-container input {
    width: 100%;
  }
}
