footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #011a41;
  padding-top: 55px;
  padding-bottom: 90px;
}
footer > div {
  width: 19%;
  display: flex;
  flex-direction: column;
}
.footer-title {
  margin-bottom: 8px;
  font-family: Jost;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #fff;
}
footer p {
  color: #fff;
}
.links > p::before {
  content: url(../images/whiteArrow.png);
  display: inline-block;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle !important;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.links p {
  display: flex;
  align-items: center;
}
.footer-form {
  position: relative;
}
.footer-form input {
  width: 100%;
  padding: 15px 5px 15px 5px;
  border-radius: 5px;
  margin-top: 10px;
}
.footer-form button {
  position: absolute;
  right: 10px;
  top: 18px;
  padding: 5px 5px 10px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #355efc;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.social-icons-footer {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 1000px) {
  .social-icons-footer {
    gap: 0px;
  }
}
@media screen and (max-width: 750px) {
  .social-icons-footer {
    display: none;
  }
  footer {
    flex-direction: column;
    gap: 10px;
  }
  footer div {
    margin: auto;
    width: 90%;
  }
  .footer-form button {
    position: absolute;
    right: 0px;
    top: 12px;
    padding: 5px 5px 10px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 47px;
    background-color: #355efc;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
}
