.burger-menu {
  display: none;
}
header {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 46px;
  justify-content: space-between;
  margin-bottom: 97px;
}
.header-menu,
.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
.dropdown {
  position: relative;
}
.header-menu li,
.dropdown .dropbtn {
  list-style-type: none;
  color: #355efc;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  background: none;
  border: none;
}
.dropdown-content {
  z-index: 5 !important;
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: white !important;
  /* margin-top: 8px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 5px;
  color: #555;
  margin-top: 5px;
  font-family: Poppins;
  font-size: 16px;
  padding: 5px;
  font-weight: 700;
}
.dropdown-content a:hover {
  opacity: 0.6;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.header-logo {
  margin-right: 28%;
  width: 200px;
}
.header-logo img {
  width: 100%;
}

@media screen and (max-width: 998px) {
  .header-logo {
    margin-right: 10px;
  }
}
@media screen and (max-width: 735px) {
  .social-icons {
    display: none;
  }
  header nav {
    display: none;
  }
  .burger-menu {
    display: block;
    margin-right: 6px;
  }
  .full-width-wrapper {
    max-width: 1240px;
    width: 100% !important;
    margin: 30px auto 30px;
  }
  .info-header,
  .hr {
    display: none;
  }

  header {
    padding-bottom: 10px;
    top: 0px;
    margin-top: 0px !important;
    margin-bottom: 0px;
    position: fixed;
    background-color: #dee2fb !important;
    z-index: 8 !important;
  }
}

/* mobile menu */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #6060fb;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 999 !important;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
