header {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 46px;
  justify-content: space-between;
  margin-bottom: 97px;
}
.header-menu,
.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.header-menu li {
  list-style-type: none;
  color: #355efc;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-logo {
  margin-right: 28%;
  width: 200px;
}
.header-logo img {
  width: 100%;
}
