.info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hr {
  width: 100%;
  height: 1px;
  box-shadow: 0px 1px 2px 0px #0000001c !important;
}
.info-header svg {
  margin-right: 10px;
}
.info-header span {
  color: #355efc;
  font-size: 14px;
  font-weight: 400;
  font-family: poppins;
}
.location-active,
.info {
  display: flex;
  align-items: center;
}
.location-active > span:first-of-type,
.info > span:first-of-type {
  margin-right: 30px;
}

.line {
  border: 1px solid #ffffff;
  width: 69px;
  margin: auto;
  margin-top: 10px;
}
