.overview {
  width: 100%;
  background-color: #355efc;
  padding: 30px 0px !important;
}
.overview-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.overview-wrapper > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overview img {
  width: 48px;
  margin: auto;
}
.quantity {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px; /* 119.643% */
}
.overview-wrapper > div p:last-of-type {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
@media screen and (max-width: 950px) {
  .overview-wrapper {
    flex-direction: column;
    gap: 20px;
  }
}
