.services-short {
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  border: 1px solid #909de2;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.14);
  padding: 20px;
  margin-bottom: 45px;
}
.service-heading {
  color: #011a41;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 29px; /* 120.833% */
  margin-bottom: 17px;
}
.services-text p:last-of-type {
  color: #555;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.services-short > div {
  display: flex;
  justify-content: space-between;
  gap: 13px;
}
.services-icon {
  width: 48px;
}

@media screen and (max-width: 950px) {
  .services-short {
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 19px;
  }
}
